* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color:#ff702a;
    --text-color:#c9e6f5;
    --bg-color:#000000;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9rem;
}

*::selection {
    background: var(--main-color);
    color:#fff;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
}

.logo {
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}

.navbar {
    display: flex;
}

.navbar a { 
    color:black;
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--main-color);
    transition: .4s;
}

section {
    padding: 70px 17%;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.about-img img {
    max-width: 100%;
    width: 480px;
    height: auto;
}

.about-text span{
    color: var(--main-color);
    font-weight: 200;
}

.about-text h2{
    font-size: var(--h2-font);
}

.about-text p {
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}

.heading{
    text-align: center;
}

.heading span{
    color: var(--main-color);
    font-weight: 600;
}

.heading h2{
    font-size: var(--h2-font);
}

